* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

main {
  display: block;
}

h1 {
  font-weight: 700;
}

hr {
  margin-left: 1rem;
  width: 90%;
}

button {
  outline: none;
  border: none;
  background-color: #fff;
  width: 100%;
}

.main-container {
  height: 100%;
}

.image-container {
  width: 50%;
  padding-bottom: 2%;
  position: relative;
}

.content-container {
  height: 100%;
  text-align: left;
}

.first-image {
  width: 550px;
  height: 600px;
  background-image: url(../images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -50px;
  background-position-y: 90px;
  /* background-size: 85%; */
  position: absolute;
  z-index: 1;
}

.first-image img {
  position: absolute;
  width: 190px;
  height: 185px;
  top: 220px;
  left: -70px;
}

.second-image {
  width: 500px;
  height: 690px;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-position-x: -544px;
  background-position-y: -275px;
  /* background-size: 195%; */
}

.third-image img, .second-image img {
  display: none;
}

.btn:first-child:hover, :not(.btn-check)+.btn:hover {
  color: hsl(14, 88%, 65%);
}

.card {
  padding: 0 0 0 20px;
  --bs-card-border-width: 0;
}

.bold-text {
  font-weight: 700;
}

.icon-arrow-down {
  margin-left: auto;
    width: 1rem;
    transition: all 0.3s;
}
.icon-arrow-up {
  transform: rotate(180deg);
}

@media only screen and (max-width: 992px) {
  .main-container {
    margin: 1rem;
  }
  h1 {
    text-align: center;
  }

  .btn {
    font-size: 0.9rem;
  }

  .row {
    margin-top: 40%;
  }

  .content-container {
    margin-top: 25%;
    margin-bottom: 10%;
  }

  button {
    width: 100%;
  }

  .first-image {
    background-image: none;
    width: auto;
  }

  .first-image img {
    display: none;
  }

  .second-image img {
    position: absolute;

  }

  .second-image {
    background-image: none;
    content: url(../images/illustration-woman-online-mobile.svg);
    width: 25rem;
    height: 19rem;
    top: -12rem;
    left: 100%;
    transform: translate(-50%);
  }

  .third-image img {
    display: inline-block;
    position: absolute;
    width: 25rem;
    height: 25rem;
    top: -400%;
    left: 100%;
    transform: translate(-50%, -50%);
  }

  .card-body {
    font-size: 0.8rem;
  }
}

.attribution {
  color: #fff;
  font-size: 0.6875rem;
  padding: 2.5rem 0 2.5rem 0;
  text-align: center;
}

.attribution a {
  color: hsl(25, 97%, 53%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(178, 100%, 50%);
}
